@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Click below to listen to this song </h1>
    <iframe title="Song" height="480" width="600" src="https://www.youtube.com/embed/14nAMb8bYSk"></iframe>
</div>
